{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlankUniversity</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<section class="et-hero-tabs">
    <h1>OUR CONTACTS</h1>
    <h3>You can reach us via phone and email</h3>
    <div class="et-hero-tabs-container">
        <a class="et-hero-tab" href="#tab-programs">Phone</a>
        <a class="et-hero-tab" href="#tab-campus">Email</a>
        <a class="et-hero-tab" href="#" >Return</a>
        <span class="et-hero-tab-slider"></span>
    </div>
</section>
<main class="et-main">
    <section class="et-slide" id="tab-programs">
            <h1>Phone Number</h1><br>
        <div class="content-container">
            <p> (+374) 010 - 00 - 00 - 00 </p>
        </div>
    </section>
    <section class="et-slide" id="tab-campus">
            <h1>Email</h1><br>
        <div class="content-container">
            {% if user.is_active %}
            <p>BlankUniversity@yopmail.com</p><br>
            <p><button type="button" class="btn btn-outline-dark"><a href="#" class="button-link">Write a Message</a></button></p>
            {% else %}
            <p>BlankUniversity@yopmail.com</p><br>
            <p><button type="button" class="btn btn-outline-dark"><a href="{% url 'student:registration' %}" class="button-link">Write a Message</a></button>
            {% endif %}
        </div>
    </section>
</main>
<script src="{% static 'js/navbar.js' %}" defer></script>
</body>
</html>