{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlankUniversity</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/additionButton.css' %}">
    <link rel="stylesheet" href="{% static 'css/emailForm.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
    </script>
</head>
<body>
<section class="et-hero-tabs">
    <h1>OUR CONTACTS</h1>
    <h3>You can reach us via phone and email</h3>
    <div class="et-hero-tabs-container">
        <a class="et-hero-tab" href="#tab-phone">Phone</a>
        <a class="et-hero-tab" href="#tab-email">Email</a>
        <a class="et-hero-tab" href="#tab-socials" >Social Networks</a>
        <span class="et-hero-tab-slider"></span>
    </div>
</section>
<main class="et-main">
    <section class="et-slide" id="tab-phone">
            <h1>Phone Number 🕿</h1><br>
        <div class="content-container">
            <p> (+374) 010 - 00 - 00 - 00 </p>
        </div>
    </section>
    <section class="et-slide" id="tab-email">
            <h1>Email ➤</h1><br>
        <div class="content-container">
            <p>BlankUniversity@gmail.com</p><br>
            <div class="form-container">
                <h2>Contact Us</h2>
                <form id="myForm">
                    <label for="name">Name:</label>
                    <input type="text" id="name" required>

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="feedback">Letter:</label>
                    <textarea id="feedback" required></textarea>

                    <button type="submit">Send Feedback</button>
                </form>
            </div>
        </div>
    </section>
    <section class="et-slide" id="tab-socials">
            <h1>Our Social Networks 🔗</h1><br>
        <div class="content-container">
            <p> Facebook: </p>
            <p> Instagram: </p>
            <p> TikTok: </p>
        </div>
    </section>
    <div class="float">
        <i class="my-float">+</i>
        <a href="{% url 'student:login' %}">
            <div class="login-option">
                login
            </div>
        </a>
    </div>
    <div class="return-arrow" id="returnButton" data-url="{% url 'static_webpages:main' %}">
        <i class="my-float">←</i>
    </div>
</main>
<script src="{% static 'js/emailjs.js' %}" defer ></script>
<script src="{% static 'js/navbar.js' %}" defer></script>
<script src="{% static 'js/redirect.js' %}" defer></script>
</body>
</html>