* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    background-color: #CCC;
}

.float {
    position: fixed;
    width: 60px;
    height: 100px;
    bottom: 40px;
    right: 40px;
    background-color: #FFF;
    color: #000;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.float:hover {
    background-color: #000;
}

.my-float {
    margin-top: 22px;
    font-size: 30px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.float:hover .my-float {
    color: #FFF;
}


.login-option {
    display: none;
    position: absolute;
    right: 70px;
    bottom: 50px;
    background-color: #FFF;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.float:hover .login-option {
    display: block;
}
.login-option {
    display: none;
    position: absolute;
    right: 40px;
    bottom: 50px;
    width: 60px;
    height: 60px;
    background-color: #FFF;
    color: #000;
    border-radius: 50%;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
    z-index: 1;
}

.float:hover .login-option {
    display: block;
}

.login-option a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.login-option a:hover {
    color: #000;
}

.return-arrow {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 80px;
    left: 40px;
    background-color: #FFF;
    color: #000;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.return-arrow:hover {
    background-color: #000;
}

.return-arrow .my-float {
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    transition: color 0.3s ease;
}

.return-arrow:hover .my-float {
    color: #FFF;
}

.return-button {
    display: inline-block;
}

.return-button a {
    text-decoration: none;
    color: #007bff;
    padding: 10px;
    border-radius: 4px;
    background: #f0f0f0;
    transition: color 0.3s, background-color 0.3s;
}

.return-button a:hover {
    color: #FFF;
    background: #e0e0e0;
}
