.custom-pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.container {
    padding-bottom: 10px;
}

.custom-prev-arrow, .custom-next-arrow {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    cursor: pointer;
    color: #000;
    font-size: 24px;
}

.custom-prev-arrow:hover, .custom-next-arrow:hover {
    background-color: #000;
    color: #fff;
}
