.et-hero-tabs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.et-hero-tabs {
    background-color: #f4f4f4;
    padding: 20px 0;
    position: relative;
}

.float {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: transparent;
    z-index: 10;
}

.return-arrow {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 10;
}

.et-hero-tabs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.et-hero-tab {
    padding: 15px;
    font-size: 18px;
    color: #333;
    background-color: #fff;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.return-arrow:hover, .float:hover {
    background-color: #000;
    color: #000;
}
.et-hero-tab:hover {
    transform: scale(1.05);
}