{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ program.name }} - BlankUniversity</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/additionButton.css' %}">
    <link rel="stylesheet" href="{% static 'css/detail_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/display.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>

    </style>
</head>
<body>
    <section class="et-hero-tabs">
        <h1>{{ program.name }}</h1><br>
        <button id="showTextButton" class="btn btn-outline-dark">Explore the {{ program.name }} program details</button><br><br>
        <main class="container">
        <h3 id="hiddenText" class="program-details">{{ program.details }}</h3>

        <div class="test-list">
            <h4>Required Tests and Minimum Grades</h4>
            <ul class="list-group">
                {% for test_requirement in program.test_requirements.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ test_requirement.test.name }}
                        <span class="badge badge-min-grade">Minimum Grade: {{ test_requirement.minimum_grade }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="return-arrow" id="returnButton" data-url="{% url 'programs:program-list' %}">
            <i class="my-float">←</i>
        </div>

    </main>
    </section>
    <script src="{% static 'js/redirect.js' %}"></script>
    <script src="{% static 'js/text_dropdown.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}" defer></script>
</body>
</html>
