{% extends 'users/nav_bar.html' %}
{% block content %}
<div style="text-align: center; margin: 20px 0;">
    <h2 style="font-weight: bold;">All Courses</h2>
</div>

<div style="text-align: center;">
    {% for course in all_courses %}
    <a style="display: block; width: 1100px; margin: 0 auto;" class="et-hero-tab"
       href="{% url 'student:studentCoursesDetails' student_data.user.pk course.pk %}">{{ course.name }}
    </a><br>
    {% empty %}
    <p>No courses found.</p>
    {% endfor %}
</div>
{% endblock %}