{% extends "auth/base_auth.html" %}
{% block title %} change password {% endblock %}
{% block content %}
    <div class="card-body">
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <input type="password" name="old_password" autocomplete="current-password" autofocus required
                       id="id_old_password" class="form-control"
                       placeholder="{% if language_code == 'ru' %}Старый пароль{% else %}old password{% endif %}">
            </div>
            <div class="form-group">
                <input type="password" name="new_password1" autocomplete="new-password" required
                       id="id_new_password1" class="form-control"
                       placeholder="{% if language_code == 'ru' %}Старый пароль{% else %}new password{% endif %}">
            </div>
            {% if language_code == 'ru' %}
                <ul>
                    <li>Ваш пароль не должен быть слишком похож на вашу другую личную информацию.</li>
                    <li>Ваш пароль должен содержать не менее 8 символов.</li>
                    <li>Ваш пароль не может быть общеупотребимым паролем.</li>
                    <li>Ваш пароль не может состоять только из цифр.</li>
                </ul>
            {% else %}
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
            {% endif %}
            <div class="form-group">
                <input type="password" name="new_password2" autocomplete="new-password" required
                       id="id_new_password2" class="form-control"
                       placeholder="{% if language_code == 'ru' %}Подтверждение нового пароля{% else %}new password confirmation{% endif %}">
            </div>
            <button type="submit" class="btn btn-primary btn-block"
                    style="background: #FFA3E5; color: #fff; border: none;">
                {% if language_code == 'ru' %}
                    Сменить пароль
                {% else %}
                    Change Password
                {% endif %}
            </button>
        </form>
    </div>
{% endblock %}