{% extends "auth/base_auth.html" %}
{% block title %} forgot password {% endblock %}
{% block content %}
    {% if language_code == 'ru' %}
        <h2 style="padding: 1.15rem 1.25rem 0 1.25rem;">Письмо для восстановление пароля отправлено
        </h2>
        <p style="padding: 0 1.25rem; font-size: 14px; margin-bottom: 0.8rem">
            Если учетная запись с таким адресом электронной почты существует, вы вскоре получите ссылку для
            восстановление пароля.
        </p>
        <p style="padding: 0 1.25rem; font-size: 14px; margin-bottom: 0.8rem">Проверьте свой почтовый ящик и
            следуйте
            инструкциям по восстановленю пароля.
        </p>
    {% else %}
        <h2 style="padding: 1.15rem 1.25rem 0 1.25rem;">
            Password Reset Email Sent
        </h2>
        <p style="padding: 0 1.25rem; font-size: 14px; margin-bottom: 0.8rem">
            If an account with that email exists, you will receive a password reset link shortly.
        </p>
        <p style="padding: 0 1.25rem; font-size: 14px; margin-bottom: 0.8rem">
            Check your inbox and follow the instructions to reset your password.
        </p>
    {% endif %}
    <a href="{% url 'student:login' %}" class="btn btn-primary" style="background: #FFA3E5; color: #fff; border: none; margin: 0 1.25rem 1.25rem 1.25rem">
        {% if language_code == 'ru' %}
            Вернуться к авторизаци
        {% else %}
            Return to Login
        {% endif %}
    </a>
{% endblock %}