{% extends "auth/base_auth.html" %}

{% block title %} reset password {% endblock %}

{% block content %}
    <h2 style="padding: 1.15rem 1.25rem 0 1.25rem;">
        {% if language_code == 'ru' %}
            Восстановить свой пароль
        {% else %}
            Reset your password
        {% endif %}
    </h2>
    <div class="card-body" style="padding: 0.7rem 1.25rem 1.25rem 1.25rem">
        <form method="post" novalidate>
            {% csrf_token %}

            <div class="form-group">
                <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1"
                       class="form-control"
                       placeholder="
{% if language_code == 'ru' %}
Новый пароль
{% else %}
New password
{% endif %}">
                {% if language_code == 'ru' %}

                    </div>
                    <ul>
                        <li>Ваш пароль не должен быть слишком похож на вашу другую личную информацию.</li>
                        <li>Ваш пароль должен содержать не менее 8 символов.</li>
                        <li>Ваш пароль не может быть общеупотребимым паролем.</li>
                        <li>Ваш пароль не может состоять только из цифр.</li>
                    </ul>
                {% else %}
                    <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                {% endif %}
            <div class="form-group">
                <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2"
                       class="form-control"
                       placeholder="
{% if language_code == 'ru' %}
Подтвердите пароль
{% else %}
confirm password
{% endif %}">
            </div>

            <button type="submit" class="btn btn-primary btn-block"
                    style="background: #FFA3E5; color: #fff; border: none;">
                {% if language_code == 'ru' %}
                    Установить новый пароль
                {% else %}
                    Set new password
                {% endif %}
            </button>
        </form>
    </div>
{% endblock content %}