{% extends "auth/base_auth.html" %}

{% block title %} reset password {% endblock %}

{% block content %}
    {% if language_code == 'ru' %}
        <h2 style="padding: 1.15rem 1.25rem 0 1.25rem;">
            Восстановление пароля завершен
        </h2>
        <p style="padding: 0 1.25rem; font-size: 14px; margin-bottom: 0.8rem">
            Ваш новый пароль установлен. Вы можете продолжить и войти.
        </p>

    {% else %}
        <h2 style="padding: 1.15rem 1.25rem 0 1.25rem;">
            Password reset complete
        </h2>
        <p style="padding: 0 1.25rem; font-size: 14px; margin-bottom: 0.8rem">
            Your Password has been set. You may go ahead and login
        </p>
    {% endif %}
    <a href="{% url 'student:login' %}" class="btn btn-primary" style="background: #FFA3E5; color: #fff; border: none; margin: 0 1.25rem 1.25rem 1.25rem"">
        {% if language_code == 'ru' %}
            Вернуться к авторизаци
        {% else %}
            Return to Login
        {% endif %}
    </a>
{% endblock %}

