{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/student_navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/listing.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mainChatPage.css' %}">
    {% block extra_css %}{% endblock %}

    <title>Student</title>
</head>

<body>
<div class="sidebar close">
    <div class="logo-details">
        <i class='bx bxl-c'></i>
        <span class="logo_name">Blank U.</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="{% url 'student:studentAllCourses' student_data.user.pk %}">
                <i class='bx bx-grid-alt'></i>
                <span class="link_name">All Courses</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{% url 'student:studentAllCourses' student_data.user.pk %}">All Courses</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bx-book-alt'></i>
                    <span class="link_name">My Courses</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">My Courses</a></li>
                {% for course in student_courses %}
                    <li><a href="{% url 'student:studentCoursesDetails' student_data.user.pk course.pk %}">{{course.name}}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="{% url 'student:studentEvents' student_data.user.pk %}">
                    <i class='bx bx-plug'></i>
                    <span class="link_name">My Events</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="{% url 'student:studentEvents' student_data.user.pk %}">My Events</a></li>
                {% for event in student_events %}
                    <li><a href="{% url 'student:studentEventsDetails' student_data.user.pk event.pk %}">{{event.name}}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <a href="{% url 'student:studentAllEvents' student_data.user.pk %}">
                <i class='bx bx-compass'></i>
                <span class="link_name">Explore</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{% url 'student:studentAllEvents' student_data.user.pk %}">Explore</a></li>
            </ul>
        </li>
        <li>
            <a href="{% url 'student:studentChatMain' student_data.user.pk %}">
                <i class='bx bx-history'></i>
                <span class="link_name">Chats</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{% url 'student:studentChatMain' student_data.user.pk %}">Chats</a></li>
            </ul>
        </li>
        <li>
            <a href="{% url 'student:profile_settings' student_data.user.pk %}">
                <i class='bx bx-cog'></i>
                <span class="link_name">Setting</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{% url 'student:profile_settings' student_data.user.pk %}">Setting</a></li>
            </ul>
        </li>
        <li>
            <div class="profile-details">
                <div class="profile-content">
                    <img src="{{ student_data.image.url }}" alt="profileImg">
                </div>
                <div class="name-job">
                    <div class="profile_name">{{student_data.user.username}}</div>
                    <div class="job">Student</div>
                </div>
                <a href="{% url 'student:logout' %}"><i class='bx bx-log-out'></i></a>
            </div>
        </li>
    </ul>
</div>
<section class="home-section">
    <div class="home-content">
        <i class='bx bx-menu'></i>
        <span class="text"></span>
    </div>
    {% block content %}
    {% endblock %}
</section>

<div class="one"></div>
<script>
    let arrow = document.querySelectorAll(".arrow");
    for (var i = 0; i < arrow.length; i++) {
      arrow[i].addEventListener("click", (e) => {
        let arrowParent = e.target.parentElement.parentElement; //selecting main parent of arrow
        arrowParent.classList.toggle("showMenu");
      });
    }
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".bx-menu");
    console.log(sidebarBtn);
    sidebarBtn.addEventListener("click", () => {
      sidebar.classList.toggle("close");
    });
</script>
{% block extra_scripts %}{% endblock %}
</body>

</html>
