{% load crispy_forms_tags %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | BlankUniversity</title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<section class="h-100 h-custom" style="background-color: #343a40;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-start h-100">
            <div class="col-lg-8 col-xl-6">
                <div class="card rounded-3" style="margin-bottom: 50px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Start your Journey!</h3>
                        <form method="post">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <button type="submit" class="btn btn-outline-dark">Submit</button>
                            <button type="button" class="btn btn-outline-dark"><a href="{% url 'static_webpages:main' %}" class="button-link">Cancel</a></button>
                            <button style="float: right" type="button" class="btn btn-outline-dark">Log in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
